<footer class="clearfix">
  <div class="pull-right">
    <%= t "layout.created" %><i class="fa fa-heart text-danger"></i>
    <%= t "layout.by_team" %>
  </div>
  <div class="pull-left">
    <span id="year-copy"></span>
    <a href="javascript:" target="_blank"><%= t "layout.framgia" %></a>
  </div>
</footer>
