<%= javascript_include_tag "map" %>
<p class="lead"><%= t "edit_space" %></p>
<div class="row space-content-form">
  <div class="col-md-7">
    <%= render "spaces/form" %>
  </div>
  <div class="col-md-5">
    <div class="block full">
      <div class="map-info">
        <div id="gmap_canvas" class="map-show"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhyJ3SWFP8U5Xmqe3H3X_iOsR1nw1v6_Q&&libraries=places"></script>
