<%= javascript_include_tag "map" %>
<div class="row full-height margin-left-0 margin-right-0">
  <div class="col-md-5 max-height-x padding-left-0 padding-right-0">
    <div class="map-info full-height">
      <div id="gmap_canvas" class="map-show full-height"></div>
    </div>
  </div>
  <div class="col-md-7 max-height-x padding-left-0 padding-right-0 scroll-y">
    <%= render "spaces/form" %>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhyJ3SWFP8U5Xmqe3H3X_iOsR1nw1v6_Q&&libraries=places"></script>
