<% @notifications.each do |notification| %>
  <li class="<%= status_unread notification %> mark-read" data-id="<%= notification.id %>">
    <span>
        <%= link_to notification.load_message, load_link(notification.message), class: "style-notification" %>
    </span>
  </li>
<% end %>
