 <div class="notification-body">
  <span role="presentation" class="">
    <div class="row">
      <div class="col-md-9 message-notification">
        <span class="text-center">
          <%= notification.load_message %>
        </span>
      </div>
    </div>
  </span>
</div>

