<li class="<%= status_unread notification %> mak-read" data-id="<%= notification.id %>" >
  <span>
    <%= link_to notification.load_message, load_link(notification.message), class: "style-notification" %>
  </span>
</li>
