<% if user_signed_in? %>
  <div class="col-md-8">
    <div class="row notification-title">
      <h3 class="text-primary"><%= t "notification.title_notification" %></h3>
    </div>
    <%= render "notifications/list" %>
  </div>
<% end %>
