<div class="content-header">
  <ul class="nav-horizontal text-center">
    <li class="active">
      <a href="javascript: void(0)"><i class="gi gi-user"></i>
        <%= t "users" %>
      </a>
    </li>
    <li>
      <a href="javascript: void(0)"><i class="gi gi-shop_window"></i>
        <%= t "venues" %>
      </a>
    </li>
    <li>
      <a href="javascript: void(0)"><i class="gi gi-shopping_cart"></i>
        <%= t "booking" %>
      </a>
    </li>
    <li>
      <a href="javascript: void(0)"><i class="fa fa-bar-chart"></i>
        <%= t "statistics" %>
      </a>
    </li>
  </ul>
</div>
