<div class="content-header">
  <ul class="nav-horizontal text-center">
    <li class="active">
      <a href="javascript:"><i class="gi gi-user"></i>
        <%= t "layout.users" %>
      </a>
    </li>
    <li>
      <a href="javascript:"><i class="gi gi-shop_window"></i>
        <%= t "layout.venues" %>
      </a>
    </li>
    <li>
      <a href="javascript:"><i class="gi gi-shopping_cart"></i>
        <%= t "layout.booking" %>
      </a>
    </li>
    <li>
      <a href="javascript:"><i class="fa fa-bar-chart"></i>
        <%= t "layout.statistics" %>
      </a>
    </li>
  </ul>
</div>
