.line-break-block {
  background-color: #ffffff;
  border-top: 1px solid #eaedf1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-section {
  padding-bottom: 30px;
}

.price-tag {
  margin-right: 10px;
}
