.line-break-block {
  background-color: #ffffff;
  border-top: 1px solid #eaedf1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-section {
  padding-bottom: 30px;
}

.price-tag {
  margin-right: 10px;
}

#errors_block {
  position: relative;
  padding: 3px;
  left: 10px;
  color: #e74c3c;
}

.bookings-table tbody > tr > td {
  background-color: #ffffff !important;
  padding: 4px !important;
}

#search-panel-home {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
