@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  font-family: 'Ubuntu', 'Arial', sans-serif !important;
  line-height: 1.5;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
a {
  color: #fff;
  -webkit-transition: all .3s ease-in 0s;
  -moz-transition: all .3s ease-in 0s;
  -o-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}
iframe {
  border: 0;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}
a:focus, a:hover {
  color: #6CB670;
}
h1, h2, h3, h4, h5, h6 {
  font-family: oswald !important;
  font-weight: 400 !important;
  color: #DDD !important;
}
.kill-margin-bottom {
  margin-bottom: 0 !important;
}
.btn {
  background-color: transparent;
  color: #fff !important;
  padding: 10px 30px;
  border-radius: 4px !important;
  margin-top: 15px;
  -webkit-transition: all .5s ease-in 0s;
  -moz-transition: all .5s ease-in 0s;
  -o-transition: all .5s ease-in 0s;
  transition: all .5s ease-in 0s;
}
.btn:focus {
  color: #ddd;
}
.btn-green {
  background-color: #6cb670;
}
.btn-green:focus,
.btn-green:hover {
  background-color: #2F383D;
  color: #fff;
}
.btn-transparent {
  border: 1px solid #4e595f;
}
.btn-transparent:focus {
  background-color: transparent;
  border-color: #6cb670;
}
.btn-transparent:hover {
  background-color: #6cb670;
  border: 1px solid transparent;
  color: #fff;
}
#loading-mask {
  background: #333439;
  height: 100%;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999999;
}
.loading-img {
  height: 100%;
  left: 0;
  position: fixed;
  top: 50%;
  width: 100%;
}
.border {
  border-top: 1px solid #fff;
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 35%;
}
.border:before {
  background-color: #fff;
  border: 1px ridge #fff;
  content: "";
  height: 10px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -5px;
  width: 40px;
}
.title {
  padding-bottom: 60px;
}
.title h2 {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 38px !important;
  color: #fff !important;
}
.color {
  color: #6CB670 !important;
}
.sub-title {
  padding: 0 0 50px;
}
.sub-title > h3 {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  display: inline-block;
  padding: 5px 25px;
  text-transform: uppercase;
  color: #ddd !important;
}
.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}
.margin-auto {
  margin: auto;
}
