#counter {
  background: image-url('home_desk.jpg');
}

.counters-item {
  border: 1px solid #4e595f;
  padding-bottom: 30px;
}

.counters-item > div {
  margin: 10px 0;
}

.counters-item span {
  display: inline;
  font-family: Oswald, sans-serif;
  font-size: 35px;
  line-height: 50px;
}

.counters-item i {
  margin-bottom: 15px;
}

.counters-item h3 {
  font-family: Ubuntu,sans-serif;
  font-size: 20px;
  margin: 0;
}
.vertical-offset-200{
  padding-top:200px;
}
.checkbox label {
  padding-left: 0px !important;
}
.title-color {
  color: #00464f !important;
}
