#notification_count {
  position: absolute;
  top: -12px;
  left: 10px;
}

#fix-number {
  position: relative;
}

#background {
  margin-left: -14px;
  width: 114%;
}

#load-notification {
  display: none;
}
