body, html, .full-height {
  height: 100%;
}
.full-height {
  min-height: 100%;
}
.padding-left-0 {
  padding-left: 0px !important;
}
.padding-right-0 {
  padding-right: 0px !important;
}
.margin-left-0 {
  margin-left: 0px !important;
}
.margin-right-0 {
  margin-right: 0px !important;
}
.container-main .row{
  padding: 0px;
  margin: 0px;
}
nav.sidebar.navbar {
  border-radius: 0px;
}
nav.sidebar, .container-main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}
.menu-icon {
  font-size: 20px;
}
.navbar-m2p {
  background-color: #00464f;
  border-color: #00464f;
}
.navbar-m2p span, .navbar-m2p a {
  color: #FFFFFF;
}
.active .dropdown-toggle {
  background-color: rgba(126, 169, 39, 0.3);
  border-color: rgba(126, 169, 39, 0.3);
}
.nav .open > a {
  background-color: rgba(126, 169, 39, 0.3);
  border-color: rgba(126, 169, 39, 0.3);
}
.nav li > a:hover, .nav .open > a:hover,
.nav li > a:focus, .nav .open > a:focus,
.nav li > a:active, .nav .open > a:active {
  background-color: rgba(0, 45, 51, 0.3) !important;
  color: #FFF
}
.nav .open ul > li {
  background-color: rgba(126, 169, 39, 0.4)
}
.navbar-m2p .navbar-nav .open .dropdown-menu>li>a {
  color: #FFFFFF;
  padding: 10px;
}
.navbar-m2p .navbar-nav .active a {
  margin-left: -1px;
  border-left: 5px solid #7ea927;
}
.navbar-toggle {
  background-color: transparent;
  border: 1px solid rgba(126, 169, 39, 0.4);
}
.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar + .icon-bar {
  background-color: #7ea927;
}
nav:hover .forAnimate{
  opacity: 1;
}
.navbar-m2p .dropdown-menu {
  padding: 0px;
}
.nav li.separator {
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 39, 0.2);
  color: rgba(208, 208, 207, 0.4);
}
#collapseOne td {
  border-top: none;
  border-bottom: 1px solid #ddd;
  line-height: 1.2;
}
#collapseOne td a:hover {
  text-decoration: none;
  color: #ebf6d5;
}
@media (min-width: 576px) {
  .custom-container {
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .container-main{
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }
  nav.sidebar:hover + .container-main{
    margin-left: 300px;
  }
  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    margin-left: 0px;
    font-size: 25px;
    line-height: 27px;
    width: 100%;
  }
  nav.sidebar a{
    padding-right: 13px;
  }
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }
  .custom-container {
    width: 80% !important;
  }
  nav.sidebar{
    width: 20%;
    height: 100%;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }
  nav.sidebar li {
    width: 100%;
  }
  nav.sidebar:hover{
    margin-left: 0px;
  }
  .forAnimate{
    opacity: 0;
  }
}
@media (min-width: 1330px) {
  .container-main{
    width: calc(100% - 300px);
    margin-left: 300px;
  }

  nav.sidebar{
    margin-left: 0px;
    float: left;
    width: 13%;
  }
  .custom-container {
    width: 87% !important;
  }
  nav.sidebar .forAnimate{
    opacity: 1;
  }
}
.navbar-brand:hover {
  color: #FFF;
}
.custom-container {
  padding: 0px !important;
  margin-right: 0px !important;
}
@media (min-width: 995px) {
  .full-height {
    min-height: 100%;
  }
  .max-height-x  {
    max-height: 100% !important;
    min-height: 100% !important;
  }
  .margin-bottom-x {
    margin-bottom: 90px !important;
  }
}
@media (max-width: 1199px) {
  .fixed-top-last {
    position: fixed;
    z-index: 999;
    top: 0%;
    width: 40%;
    padding-bottom: 10px;
  }
  .fixed-top-booking {
    position: fixed;
    width: 38.5% !important;
    z-index: 999;
  }
}
@media (max-width: 991px) {
  .max-height-x  {
    max-height: 47% !important;
    min-height: 47% !important;
  }
  .fixed-top-last {
    position: fixed;
    z-index: 999;
    top: 47%;
    width: 80%;
    padding-bottom: 10px;
  }
  .fixed-top-booking {
    position: fixed;
    width: 76% !important;
    z-index: 999;
    top: 47%;
  }
}
@media (max-width: 767px) {
  .fixed-top-last {
    position: fixed;
    z-index: 999;
    top: 47%;
    width: 100%;
    padding-bottom: 10px;
  }
  .fixed-top-booking {
    position: fixed;
    width: 96% !important;
    z-index: 999;
    top: 47%;
  }
}
@media (max-width: 575px) {
  .fixed-top-last {
    position: fixed;
    z-index: 999;
    top: 47%;
    width: 100%;
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .fixed-top-last {
    position: fixed;
    z-index: 999;
    top: 0%;
    width: 40%;
    padding-bottom: 10px;
  }
  .fixed-top-booking {
    position: fixed;
    width: 36.5% !important;
    z-index: 999;
    top: 0%;
  }
}
@media (min-width: 1330px) {
  .fixed-top-last {
    position: fixed;
    z-index: 999;
    top: 0%;
    width: 44%;
    padding-bottom: 10px;
  }
  .fixed-top-booking {
    position: fixed;
    width: 40.5% !important;
    z-index: 999;
    top: 0%;
  }
}

.fixed-top-booking {
  background-color: #000 !important;
}
