.space-items{
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d5d2;
}
.space-items-info{
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 2px;
  border-style: dashed;
  border-width: 1px;
  border-color: #d9d5d2;
}
.space-items:hover{
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
