
.bg-one {
  background-color: #333439;
}
.parallax-section {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel {
  margin-bottom: 0px !important;
}
.carousel-indicators .active {
  background-color: #6cb670 !important;
  border: 0 !important;
}
#logo {
  color: #6cb670 !important;
  font-family: oswald !important;
}
#home-carousel .carousel-inner .item {
  width: 100%;
  background-size:cover;
  height: 520px;
}
#home-carousel .carousel-inner .item:nth-child(1) {
  background: image-url('home/home_desk.jpg');
}
#home-carousel .carousel-inner .item:nth-child(2) {
  background: image-url('home/home_woman.jpg');
}
#home-carousel .carousel-inner .item:nth-child(3) {
  background: image-url('home/meeting_room.jpg');
}
#home-carousel .carousel-caption {
  left: 0;
  top: 0;
  z-index: 11;
  text-align: left;
}
.carousel-caption > div {
  background-color: rgba(108, 182, 112, 0.4);
  padding: 60px 50px 80px 20%;
  position: absolute;
  top: 20%;
  width: 76%;
}
#home-carousel .carousel-inner h2 {
  color: #ffffff  !important;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
  text-shadow: none;
  text-transform: uppercase;
}
#home-carousel .carousel-inner p {
  color: #FFFFFF;
  line-height: 28px;
  font-size: 17px;
  margin-top: 0;
  text-shadow:none;
}
#nav-arrows > a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  height: 60px;
  line-height: 76px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 60px;
  z-index: 20;
  margin-top: -30px;
  transition: all 0.3s ease 0s;
}
#nav-arrows > a.sl-prev {
  left: 50px;
}
#nav-arrows > a.sl-next {
  right: 50px;
}
#nav-arrows > a.sl-next:hover {
  background-color: #6cb670;
  border-color: #6cb670;
  color: #fff;
}
.carousel-indicators .active {
  background-color: #6cb670;
  border: 0;
}

#testimonial {
  background-color: #2B2C30 !important;
  padding: 70px 0;
}

#testimonials .owl-wrapper-outer {
  top: -25px;
}

.client-info {
  margin: 0 auto;
  width: 45%;
}

.client-thumb img {
  border-radius: 50%;
  margin: 0 auto;
  max-width: 115px;
  width: 100%;
  max-height: 115px;
}

.client-meta {
  margin: 0 0 10px;
}

.client-meta h3 {
  font-family: Ubuntu,sans-serif;
  font-size: 20px;
  margin: 15px 0 5px .0;
}

.client-meta span {
  font-size: 12px;
}

.client-comment .social-profile {
  text-align: center;
}

.client-comment .social-profile li {
  display:inline-block;
  margin: 0 6px 0 0;
}
.client-comment p {
  color: #ddd !important;
}

.social-profile ul li {
  float: left;
  margin: 0 6px 0 0;
}

.social-profile a {
  color: #4e595f;
  display: block;
}

.social-profile li a i {
  line-height: 33px;
}

.social-profile li a:hover {
  color: #6CB670;
}

.owl-pagination,
.owl-buttons {
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-controls .owl-page span {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  display: block;
  height: 13px;
  margin: 0 4px;
  width: 13px;
  opacity: 1;
  filter: alpha(opacity=100);
}

.owl-controls .owl-page.active span,
.owl-controls .owl-page:hover span {
  background-color: #6cb670;
  border: 2px solid transparent;
}

.our-clients {
  margin: 30px 0 0;
}

#our-clietns .item img {
  max-width: 150px;
  width: 100%;
}

#our-clietns .owl-next,
#our-clietns .owl-prev {
  border: 1px solid #ddd;
  border-radius: 50px;
  display: inline-block;
  margin: 45px 0 0;
  padding: 3px 15px;
  position: relative;
  text-align: center;
}

#our-clietns .owl-next i,
#our-clietns .owl-prev i {
  line-height: 34px;
}

#our-clietns .owl-prev {
  margin-right: 15px;
}

#our-clients .item {
  margin: 10px;
}
.navbar-inverse {
  background-color: #2B2C30 !important;
  width: 100%;
  z-index: 99;
  border: none !important;
}

.navbar {
  border-bottom: 1px solid #666;
  margin-bottom: 0 !important;
}

.navbar-brand {
  height: auto;
  padding: 8px 0;
}

.navbar-brand h1 {
  margin: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  padding: 20px 15px;
  -webkit-transition: background .5s ease-in-out 0s;
  -moz-transition: background .5s ease-in-out 0s;
  -o-transition: background .5s ease-in-out 0s;
  transition: background .5s ease-in-out 0s;
}

.navbar-inverse .navbar-nav > li.current > a {
  color: #6cb670;
  background-color: #2f3238;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #6cb670;
}
#search_section {
  padding: 70px 0;
}
#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding: 5px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0px !important;
  width: 100% !important;
  height: 50px !important;
}
.search-query {
  background-color: #596a73 !important;
  border-radius: 0px !important;
  padding: 5px 10px !important;
  border: 0 none !important;
  color: #ddd !important;
}
.search-query::-webkit-input-placeholder {
  color: #ddd !important;
}
.search-query:-moz-placeholder {
  color: #ddd !important;
}
.search-query::-moz-placeholder {
  color: #ddd !important;
}
.search-query:-ms-input-placeholder {
  color: #ddd !important;
}
#custom-search-input button {
  border: 0;
  background: none;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}
.search-query:focus {
  z-index: 0 !important;
}
.input-group-btn {
  z-index: 2 !important;
}
.pac-container {
  background-color: #2f383d;
}
.pac-item, .pac-item-query {
  color: #DDD !important;
  &:hover {
    background-color: #000 !important;
  };
}
.pac-logo:after{
  background: none !important;
}

.carousel-indicators-custom {
  bottom: -25px !important;
}
.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  font-family: oswald;
  color: #2e2e2e !important;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-family: oswald;
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
  color: #2e2e2e;
}
.payments {
  font-size: 1.5em;
}
