<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom">
    <li>
      <a href="javascript:" id="toggle-sidebar-section">
        <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
  </ul>
</header>
